.team {
  background-color: var(--button-portfolio);
}

.list.row {
  display: flex;
  flex-wrap: wrap;
}

.staff {
  background-color: var(--back-ground-color);
  border-radius: 0 0 4px 4px;
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  &:nth-child(4n) {
      margin-right: 0;
    }
}



.staff-info {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-name {
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin: 0 0 10px 0;
}

.position {
  font-size: 16px;
  line-height: 1.18;
  margin: 0;
}

.staff-soc {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.soc-item+.soc-item {
  margin-left: 10px;
}

.soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--logo-of-clients);
  &:hover {
  background-color: var(--acccent-text-color);
  fill: var(--text-white-color);
  }
  &:focus {
  background-color: var(--acccent-text-color);
  fill: var(--text-white-color);
  }
}

