%text {
  line-height: 1.71;
  margin: 10px 0 0 0;
}

 %content_center {
  display: flex;
  justify-content: center;
}

%logo{
  color: var(--acccent-text-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}